.video-bg{
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100vh;
  z-index: -99;
  position: fixed;
  opacity: 0.8;
}

nav{
  height: 80px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Poppins";
  padding: 12px;
  
}
nav li{
  list-style-type: none;
}
nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
body{
  background-color: rgba(231, 244, 231, 0.836);
  margin: 40px;
}

.flex{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card1 {
  /* background-color: rgb(225, 225, 225); */
  width: 350px;
  height: 500px;
  padding: 5px;
  /* box-shadow: 0px 4px 8px grey; */
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
  
}

.card1 img {
  border-radius: 8px;
  width: 100%;
}



.card1 p {
  font-size: 18px;
  text-align: left;
  line-height: 1.5;

}


.card1 img:hover{
  transform: translateY(-15px);
  transition: 0.5s;
  filter: contrast(1.2);
}



.card1 h2 {
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}


.another-flex{
  display: flex;
  gap: 20px;
  margin-top: 10px;
  justify-content: center;
}

.flex-second{
  margin-top: 10px;
  gap: 20px;
  justify-content: center;
  display: flex;
}


.about h1{
background: #000;
color: white;
font-family: "Poppins";
text-align: center;
font-size: 45px;
width: 100%;
}

.about h3{
  font-family: "Poppins";
  font-size: 20px;
  margin-left: 10px;
}

.about p{
  font-family: "Poppins";
  font-size: 18px;
  margin-left: 10px;
}

.about p:hover{
  background-color: rgb(226, 226, 226);
  /* box-shadow: 0px 4px 8px gray; */
  border-radius: 2px;
  transform: translateY(-10px);
  transition: 0.5s ease;
  

}
.freedom-fighters h1{
  background-color: #000;
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: "poppins";
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 80px;
  color: white;
  font-family: "Poppins";
  font-weight: lighter;

}


.lastflex{
 
  display: flex;
  justify-content: center;

}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content h1{
  text-decoration: underline;
  font-family: poppins;
}
.content, p{
  font-size: 20px;
}


